@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
:root {
	--primary-color: #4A96FF;
}

* {
	margin: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	scroll-behavior: smooth;
	color: #fff;
}

h2 {
	font-size: 2rem;
}

header {
	background: linear-gradient(90deg, #89f7fe 0%, #66a6ff 100%);
	height: 4rem;
	box-shadow: 0px 0px 15px 1px #66a6ff;
	font-size: 1rem;
	padding: 0 1em;
	position: fixed;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.my-name {
	font-size: 1.8rem;
	color: var(--primary-color);
}

.my-name:hover {
	text-shadow: 0px 3px 1px rgba(150, 150, 150, 0.5);
}

.none {
	display: none;
}

.menu-container {
	display: flex;
	align-items: center;
	gap: 1em;
	z-index: -1;
}

.link-icon {
	border-radius: 100%;
	display: flex;
	z-index: 1;
	transition: all 0.2s;
}

.link-icon:hover {
	background: #2f84fa;
}

.nav-container {
	position: fixed;
	top: -13rem;
	width: 100%;
	left: 0;
	transition: all 0.3s;
}

.show-nav {
	top: 3.9em;
	height: 100vh;
}

nav {
	background: linear-gradient(90deg, #89f7fe 0%, #66a6ff 100%);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
}

nav>a {
	text-align: center;
	padding: .7em;
}

nav>a:hover {
	transition: all 0.3s;
	background-color: #ffffff;
	color: var(--primary-color);
}

nav>a:nth-child(2) {
	min-width: 86px;
}

.menu-btn {
	background-color: #66a6ff;
	border: 1.5px solid #fff;
	border-radius: 3px;
	cursor: pointer;
	z-index: 1;
}

.menu-btn svg {
	background-color: #66a6ff;
	fill: #fff;
}

a {
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	border-radius: 4px;
}

.section {
	height: 100vh;
	background-image: var(--image);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding-top: 4rem;
}

.section-body {
	background-color: rgba(0, 0, 0, 0.3);
	height: calc(100vh - 4rem);
	padding-bottom: 4rem;
	display: flex;
	/* flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1em; */
}

#home .section-body {
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1em;
}

#about .section-body {
	justify-content: center;
}

.cursor {
	background-color: #fff;
	display: inline-block;
	width: 2.5px;
}

.hide {
	background-color: transparent;
}

#home .section-body h2 {
	background: radial-gradient(#000 -100%, transparent 100%);
	color: #fff;
	font-size: 7vmin;
	width: 90%;
	max-width: 800px;
	text-align: center;
}

.downloads {
	font-weight: bold;
	display: flex;
	gap: .5em;
	align-items: center
}

.button-download {
	text-align: center;
	padding: .7em;
	border-radius: 8px;
	border: 2px solid #fff;
	background: var(--primary-color);
}

.button-download:hover {
	transition: all 0.3s;
	border: 2px solid var(--primary-color);
	color: var(--primary-color);
	background: #fff;
}

.bg-red {
	background: #ff5749;
}

.bg-red:hover {
	border: 2px solid #ff5749;
	color: #ff5749;
}

.ad {
	position: fixed;
	width: 100%;
	text-align: center;
	bottom: 1em;
	font-size: 1em;
	color: #f3ff66;
}

@media screen and (min-width: 768px) {
	.menu-btn {
		display: none;
	}
	.menu-container {
		flex-direction: row-reverse;
	}
	.nav-container {
		min-width: 500px;
		max-width: 650px;
		position: static;
	}
	.downloads {
		gap: 1em;
	}
	.show-nav {
		height: auto;
	}
	nav {
		width: 100%;
		background: transparent;
		flex-direction: row;
		justify-content: space-evenly;
		gap: 1em;
	}
}